.jumbotron {
  background-color: sienna;
}

.h1 {
  font-size: 120%;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: primary;
}

/*.table {
  border-style: solid;
  border-color: primary;
}
*/
